{% extends "common/base_zim.html" %}
{% load staticfiles %}

{% block head-content %}
<title>PCL Group</title>
{% endblock %}


{% block content %}
    <header>

        <div class="header-content">

            <div class="header-content-inner">
                <a href="/admin/master_table/" class="btn btn-primary btn-lg " target="_blank">Master Entries</a>
            </div>   
            <br>
        
            <div class="header-content-inner">
                <a href="/admin/mother_godown/" class="btn btn-primary btn-lg" target="_blank">Purchase</a>
            </div>
            <br>
            <div class="header-content-inner">
                <a href="/admin/production_table/" class="btn btn-primary btn-lg" target="_blank">Production</a>
            </div>
            <br>
            <div class="header-content-inner">
                <a href="/admin/sales/" class="btn btn-primary btn-lg" target="_blank">Sales</a>
            </div>
            <br>
            <div class="header-content-inner">
                <a href="/report" class="btn btn-primary btn-lg" target="_blank">Report</a>
            </div>
            <br>

            <div class="header-content-inner">
                <a href="/admin/auth/" class="btn btn-primary btn-lg " target="_blank">Adminstration</a>
            </div>
        </div>
        
    </header>
{% endblock %}

    
