/*body {
    
}

td {
	width: 10px;
}

#id_selldetailinfo_set-0-product_code_text{
	width: 10px;
}

#id_selldetailinfo_set-0-quantity{
	width: 10px;
}*/


table input{
	width: 50%;
}

.vTextField{
	width: 100%;
}
